
.header{
    background: url(), #f5deb3 ;
    background:linear-gradient(0deg, rgba(238, 231, 235, 0.87), rgba(233, 227, 230, 0.938)), url('./public/Rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
   
}